* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

header {
    min-height: 12.5vh;
    background-color: black;
    background-image: url(../images/Headerbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-right: 35px;
    padding-left: 35px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #76cdf2;
}

.background-1 {
    min-height: 80vh;
    background-image: url(../images/Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

.background-2 {
    min-height: 80vh;
    background-image: url(../images/Background-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

#greeting{
    font-size: 83px;
    color: #ffff;
    padding-top: 5%;
    font-weight: 600;
}

#name-is {
    font-size: 83px;
    color: #ffff;
    font-weight: 600;
}

#Noah-Manno {
    font-size: 83px;
    color: #76cdf2;
    font-weight: 600;
}

.subtitle {
    font-size: 34.5px;
    text-transform: uppercase;
    color: #dde3e7;
    font-weight: lighter;
    margin-top: 3%;
}

.heading {
    flex: 1 0 50%;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot {
    flex: 1 1 50%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


h2 {
    color: white;
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}

main section p {
    color: gray;
    font-size: 22pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    padding: 5%;
    margin: 3%;
    line-height: 40px;
}

h3 {
    color: white;
    font-size: 14px;
    text-align: center;
    letter-spacing: 8px;
}

.about-me {
    flex: 1 0 30%;
    align-self: center;
}

.about-me-text {
    flex: 1 0 70%;
    align-self: center;
}

.about-me-text p {
    font-weight: 100;
    color: #dde3e7;
}

.see-my-projects {
    flex: 1 0 100%;
}

.see-my-projects a {
    text-decoration: none;
    text-transform: uppercase;
}

.button {
    background-color: #76cdf2;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-bottom: 10%;
    border-radius: 200px;
}

a h3:hover{
    color: lightslategray;
}

@media screen and (max-width: 497px) {
#greeting {
    font-size: 60px;
}
#name-is {
    font-size: 60px;
}
#Noah-Manno {
    font-size: 60px;
}

.headshot img {
    width: 80%;
}
h2 {
    font-size: 60px;
}

nav ul {
    flex-direction: column;
    align-content: flex-end;
}

nav ul li {
    border-bottom: solid white 1px;
}
.button {
    margin-left: 25%;
    margin-right: 25%;
}
main section p {
    font-size: 22px;
}

h3 {
    font-size: 12px;
}
}

@media screen and (max-width: 359px) {
    #greeting {
        font-size: 40px;
    }
    #name-is {
        font-size: 40px;
    }
    #Noah-Manno {
        font-size: 40px;
    }
    
    .headshot img {
        width: 70%;
    }
    h2 {
        font-size: 50px;
    }

    .subtitle {
        font-size: 28px;
    }
    main section p {
        font-size: 18px;
    }

    .button {
        margin-left: 15%;
        margin-right: 15%;
    }

    h3 {
        font-size: 10px;
    }
    }

