/* margin and padding reset */
* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    scroll-behavior: smooth;
}
/* font from google font*/
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* header and nav bar background and size */
header {
    min-height: 12.5vh;
    background-color: black;
    background-image: url(../images/Headerbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* nav bar flexbox*/
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/*nav bar size */
nav ul li {
    list-style-type: none;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-right: 35px;
    padding-left: 35px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    
}

nav ul li a:hover {
    color: #76cdf2;
}

/* nav bar animations */
#projects-nav {
    animation: slide-down 1s;
    animation-fill-mode: forwards;
}

#about-me-nav {
    animation: slide-down 1.5s;
    animation-fill-mode: forwards;
}

#github-nav {
    animation: slide-down 2s;
    animation-fill-mode: forwards;
}

@keyframes slide-down{
    from {
      margin-top: -200%;
    }
  
    to {
      margin-top: 0%;
    }
  }
/* nav bar animations */

/* main section background 1 */
.profile {
    min-height: 80vh;
    background-image: url(../images/Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}
/* main section background 2 */
.bio {
    min-height: 80vh;
    background-image: url(../images/Background-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

/* "Hello my name is style */
#greeting{
    font-size: 83px;
    color: #ffff;
    padding-top: 5%;
    font-weight: 100;
    font-family: "Raleway", sans-serif;
}
#name-is {
    font-size: 83px;
    color: #ffff;
    font-weight: 100;
    font-family: "Raleway", sans-serif;
}


/* "Hello my name is" animation */
#greeting, #name-is {
    animation: slide-right 2s;
    animation-fill-mode: forwards;
}

@keyframes slide-right {
  from {
    margin-left: -200%;
  }

  to {
    margin-left: 0%;
  }
}

/* Name style */
#Noah-Manno {
    font-size: 83px;
    color: #76cdf2;
    font-weight: 200;
    font-family: "Raleway", sans-serif;
    background-color: rgba(0, 0, 0, .2); 
    box-shadow: 20px 20px 20px;
    opacity: 0;
}

/* Name animation */
#Noah-Manno {
    animation-name: openingfade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes openingfade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* subtitle style */
.subtitle {
    font-size: 34.5px;
    text-transform: uppercase;
    color: #dde3e7;
    font-weight: lighter;
    margin-top: 3%;
    opacity: 0;
}

/* subtitle animation */
.subtitle {
    animation-name: openingfade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

/* main flexbox */
.welcome-message {
    flex: 1 0 50%;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* headshot flexbox */
.headshot {
    flex: 1 1 50%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*headshot animation*/
.headshot {
    animation: openingfade ease 3s;
    animation-fill-mode: forwards;
}

/* about me title styling */
h2 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 100px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}
/* about me text styling */
main section p {
    color: gray;
    font-size: 22pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    padding: 5%;
    margin: 3%;
    line-height: 40px;
}

/* about me flexbox */
#about-me {
    flex: 1 0 30%;
    align-self: center;
}

.about-me-text {
    flex: 1 0 70%;
    align-self: center;
}

.about-me-text p {
    font-weight: 100;
    color: #dde3e7;
}

/* contact button */
.contact-me {
    flex: 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3%;
}

/* see my projects link styling */
.contact-me a {
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    letter-spacing: 8px;
    font-family: "Raleway";
    text-align: center;
    background-color: #76cdf2;
    padding: 1% 7%;
    border-radius: 200px;
}

.contact-me a:hover{
    color: lightslategray;
    background-color: #dde3e7;
}

/* section 2 and 3content animation */
#about-me, .about-me-text, .contact-me, #projects, .container {
    animation: openingfade 5s;
}

.projects-page {
    min-height: 80vh;
    background-color: #2b1821;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

#projects {
    padding-top: 100px;
    flex: 1 0 100%;
    align-self: center;
}

h3 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}

h4 {
    flex: 1 0 30%;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 30px;
}

.container {
display: flex;
flex-wrap: wrap;
background-color: rgba(0, 0, 0, .4);
margin: 20px;
justify-content: space-around;
border-radius: 20px;
}

.websites {
    border: 5px solid #2b1821;
    flex: 2 1 500px;
    border-radius: 20px;
}

.websites-big {
    border: 5px solid #2b1821;
    flex: 2 1 1000px;
    border-radius: 20px;
}

.align-img {
text-align: center;
}

.websites img {
    width: 80%;
    height: auto;
    border-radius: 300px;
    border: 2px solid white;
    margin-bottom: 20px;
}
.websites-big img {
    width: 80%;
    height: auto;
    border-radius: 300px;
    border: 2px solid white;
    margin-bottom: 20px;
}

#contact-me-page {
    min-height: 70vh;
    background-image: url(../images/contact\ me\ background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    border: 50px solid #2b1821;
    outline: 2px solid white;
    outline-offset: -50px;
}

#contact-me-page h4 {
    padding-top: 120px;
    font-size: 40px;
    text-align: left;
}

#contact-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 50px;
}

.contact-containers {
 flex: 1 0 50px;
 padding-left: 2.5%;
}

.contact-types {
    color: #76cdf2;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.contact-values {
    color: white;
    font-family: "Raleway", sans-serif;
    padding-left: 20px;
}


@media screen and (max-width: 497px) {
#greeting {
    font-size: 60px;
}
#name-is {
    font-size: 60px;
}
#Noah-Manno {
    font-size: 60px;
}

.headshot img {
    width: 80%;
}
h2 {
    font-size: 60px;
}

nav ul {
    flex-direction: column;
    align-content: flex-end;
}

nav ul li {
    border-bottom: solid white 1px;
}
main section p {
    font-size: 22px;
}

#projects-nav, #about-me-nav, #github-nav {
    animation: slide-left 2s;
    animation-fill-mode: forwards;
}

@keyframes slide-left {
    from {
      margin-right: -200%;
    }
  
    to {
      margin-right: 0%;
    }
  }
}

@media screen and (max-width: 395px) {
    #contact-me-page h4 {
        text-align: left;
        padding-left: 2%;
        padding-top: 100px;
    }

    #contact-flex {
        flex-direction: column;
        align-items: center;
    }

    .contact-types {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .contact-values {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 359px) {
    #greeting {
        font-size: 40px;
    }
    #name-is {
        font-size: 40px;
    }
    #Noah-Manno {
        font-size: 40px;
    }
    
    .headshot img {
        width: 70%;
    }
    h2 {
        font-size: 50px;
    }

    .subtitle {
        font-size: 28px;
    }
    main section p {
        font-size: 18px;
    }

    #contact-me-page h4 {
        font-size: 30px;
    }
}

